div{
	display: flex;
	background-color: pink;
	justify-content: space-around;
}
.div2{
   flex-direction: column;
}
form{
	
}
.name1{
	padding: 20px;
	    margin-left: 15px;
}
.email1{
	padding: 20px;
}
.place1{
	padding: 20px;
}
.submit{
	padding: 20px;
}
input{
	margin-left: 55px;
}
.date1{
	margin-left: 31px;
}