.image1{
  position: absolute;
   
}
.image2{
	position: absolute;

}
}
.image3{
	position: absolute;
	

}
.image4{
	position: absolute;
	
}
.image5{
	position: absolute;
	
}
.image6{
	position: absolute;
	
}