body{
	background-color: #5350ff7d;;
}
.header img {
  width: 100px;
  height: 100px;
  background: #555;
  float: right;
  margin-right: 300px;
 
}

.header h1 {
  margin-left: 500px;
    margin-bottom: 80px;
  float: left;
  
  color: darkmagenta;
  
  font-style: italic;
}
#span
{
    font-size: 20px;
    margin-left: 420px;
    margin-top: 130px;
}
.page1{
	padding: 20px;
    background-color: gold;
    text-decoration: none;
}
.page2{
	padding: 20px;
    background-color: gold;
    text-decoration: none;
}
.page3{
	padding: 20px;
    background-color: gold;
    text-decoration: none;
}
.images img{
	padding-top: 80px;
	width: 200px;
	height: 300px;
	
}
#imgp img{
   width: 100px;
   height: 150px;
}
#imgp p{
	font-style: italic;
	color: navy;
  
   font-size: 25px;
}
footer{
	border:solid;
	color: green;
	font-size: 30px;
	background-color: white;
	margin-left: 210px;
}