.container{
	display: inline-grid;
	padding: 20px;
	grid-gap: 10px;
	grid-template-columns: 50px 50px 50px 50px 50px 50px;
	grid-template-rows: 50px 50px 50px 50px;
}
.empty{
	background-color: grey;
}