.display{
	display: inline-grid;
	padding: 20px;
	grid-gap: 10px;
	
	grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
	grid-template-rows: 50px 50px;
	
}
.property{
	background-color: #f7e416;
	text-align: center;
	border-radius: 2px;
	padding: 10px;
	 border: 1px solid #f4e542;
	  box-shadow:0px 2px #d17600 ;
	  font-size: 20px;
	  font-weight: 700;
}
 .property6 {
  grid-column: 6/span 3; 
  background-color: #e2bc22;
   border: 1px solid #f4e542;
   box-shadow:0px 2px #d17600 ;
   border-radius: 2px;
}
.property10{
	background-color: #e2bc22;
	 border: 1px solid #f4e542;
	 box-shadow:0px 2px #d17600 ;
	 border-radius: 2px;
}