.grid-container{
	display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 40px 100px 60px 80px 100px 40px;
    grid-gap: 15px;
    justify-content: center;
    margin: 20px 478px 0 517px;
}
.grid-container > div{
  background-color: pink;
  border: dashed;
}
.item1{
	grid-area: 1/1/1/4;
	text-align: center;
	padding: 5px;
}
.item2{
	padding: 10px;
}
.item3{
	grid-area: 2/2/span 2/4;
}
.item4{
	grid-area: 3/1/5/2;
}
.item5{
	grid-area: 4/2/4/span 2;
}
.item6{
	grid-area: 5/1/5/span 2;
}
.item7{

}
.item8{
	grid-area: 6/1/6/span 3;
}