.grid-container{
  display: grid;
  grid-template-columns: 250px auto auto auto;
  grid-template-rows: 50px 100px 200px 200px;
  grid-gap: 50px;
}
img{
	width: 50px;
    height: 50px;
    border-radius: 100px;
}
.grid-container > div{
	background-color: pink;
}