body{
	background-color: white;
}
 
#div{
	font-size: 20px;
	color: white;
	border: solid;
	background-color: black;
	padding-bottom: 80px;
	padding-top: 50px;
	margin: 100px 120px 80px 140px;
}
#log{
	background-color: darkolivegreen;
  border: none;
  width: 350px;
  padding: 20px;
  color: white;
  border: solid;
  margin-left: -5px;
  border-color: darkolivegreen;
}
#sing{
  color: white;
  background-color: darkolivegreen;
  border: solid;
  width: 350px;
  margin-left: 175px;
  padding-bottom: 30px;
  padding: 20px;
  border-right: 0;
  border-color: darkolivegreen;
}
p{
	color: white;
	font-size: 35px;
	padding-left: 40px;
}
#name{
	margin-left: 400px;
	width: 145px;
	height: 25px;
	background-color: black;
}
#name2{
	margin-left: 30px;
	height: 25px;
	background-color: black;
}
#email{
	margin-left: 400px;
	width: 355px;
  height: 25px;
  background-color: black;
  margin-top: 20px;
}
#password{
	margin-left: 400px;
	width: 355px;
	height: 25px;
	background-color: black;
}
.button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-left: 405px;
  border: none;
  cursor: pointer;
  width: 350px;
}