.container{
	display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 5px;
}
.container div{
	font-size: 10px;
}
.item1{
	grid-column: 2/ 5;

}
.item2{

}
.container2{
	display: grid;
    grid-template-columns: 100px 150px 100px 100px 100px 100px 100px 100px 100px 100px ;
    grid-template-rows: 40px 30px 40px 40px 40px 40px 40px ;
    grid-gap: 10px;
  
}
 .cot1{
	background-color: #e0f9d5;
	padding: 3px;
	font-size: 10px;
}
#cat1{
	grid-row-start: 1;
	grid-row-end: 6;
}
#cat38{
	grid-row: 5/span 9;
    grid-column: 2;
}

#cat70{
	 grid-column-start: 4;
  grid-column-end: 5;
  background-color: #e29ee2;
}
#cat60{
	grid-column-start: 4;

}
#cat61{
	grid-column-start: 10;
}
#cat62{
	grid-column-start: 4;
}
#cat63{
	grid-column-start: 4;
}
#cat64{
	grid-column-start: 4;
}
#cat65{
	grid-column-start: 6;
}
#cat39{
	grid-column-start: 6;
	 background-color: #e29ee2;
}
#cat100{
	grid-column-start: 6;
	 background-color: #e29ee2;
}
#cat200{
  grid-column-start: 6;
}
#cat300{
   grid-column-start: 6;
}
#cat400{
	grid-column-start: 6;
}
#cat71{
	 background-color: #e29ee2;
}
#cat72{
	 background-color: #e29ee2;
}
#cat73{
	 background-color: #e29ee2;
}
#cat74{
	 background-color: #e29ee2;
}
#cat75{
	 background-color: #e29ee2;
}
#cat76{
	 background-color: #e29ee2;
}
#cat77{

	 background-color: #e29ee2;
}
